@import "@/shared/styles/shared/variables.scss";

.counter {
    display: flex;
    align-items: center;
    gap: 10px;

    &__btn {
        max-width: 40px;
        width: 40px;
        flex-shrink: 0;
        padding: 0;
    }

    &__value {
        height: 40px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        color: $dark-color;
        line-height: 21px;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: 2px;
        background: $gray-color-100;
        overflow: hidden;
    }
}
